<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsP0HW485tGL74fP2P0BE4uHXSRI4Y4JZ9GA&s" alt="" height="200px" />

    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
            Lorem ipsum dolor sit amet. Eos magnam voluptatem et inventore omnis quo magni asperiores id provident doloribus et iure dicta sed sapiente dolor. Et ipsa rerum sit rerum quasi sit earum reiciendis est reprehenderit quos et illum molestiae id
            magni perspiciatis sit consequatur molestiae!
          </a>
        </p>
    </div>
</div>