<app-menu-title>
</app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card id="{{data[0].id}}" photoCover="{{data[0].photoCover}}" cardTitle="{{data[0].title}}" cardDescription="{{data[0].description}}"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card id="{{data[1].id}}" photoCover="{{data[1].photoCover}}" cardTitle="{{data[1].title}}"></app-small-card>
        <app-small-card id="{{data[2].id}}" photoCover="{{data[2].photoCover}}" cardTitle="{{data[2].title}}"></app-small-card>
        <app-small-card id="{{data[3].id}}" photoCover="{{data[3].photoCover}}" cardTitle="{{data[3].title}}"></app-small-card>
    </div>
</div>